.wrapper-footer {
  background-color: rgb(32, 34, 20);
  color: rgb(209, 209, 223);
  padding-top: 30px;
}

.social a {
  color: rgb(209, 209, 223);
  font-size: 30px;
  display: flex;
  align-items: center;
  :hover {
    color: transparent;
  }
}


.wrapper-black {
  background-color: #34495e;
}
