.trip-banner {
  height: 300px;
}
.trip-banner-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
}
.border-right-on {
  border-right: 2px solid #E9E9E9;
}
