<ul class="list-inline text-center padded">
  <% data.users.each do |member|  %>
  <li>
    <%= image_tag member.image, class: "img-circle"%>
    <h3><%= member.name.capitalize %></h3>
    <p><%= member.role.capitalize %></p>
  </li>
  <% end %>
</ul>
